@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}
body.dark{
	background: rgb(25, 25, 25);;
	color: var(--light);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}








.sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
.dark>.sidebar{
	background: var(--dark);
}
.sidebar.hide {
	max-width: 60px;
}
.sidebar.hide:hover {
	max-width: 260px;
}
.sidebar::-webkit-scrollbar {
	display: none;
}
.sidebar .brand {
	font-size: 25px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: bold;
	color: #000;
	font-family: "Calligraffitti", sans-serif;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--light);
	transition: all .3s ease;
	padding: 0 6px;
}
.dark .sidebar .brand{
	background: #000;
	color: var(--light);
}
.dark .sidebar.brand{
	background: var(--dark);
}

.sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
.sidebar .icon-right {
	transition: all .3s ease;
}
.sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
.sidebar.hide .side-menu {
	padding: 0 6px;
}
.sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
.sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: inherit;
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
.sidebar .side-menu > li > a:hover {
	background: var(--grey);
	color: var(--dark);
}
.sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
.sidebar .side-menu > li > a.active,
.sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
}
.sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}
.sidebar.hide:hover .divider {
	text-align: left;
}
.sidebar.hide .divider {
	text-align: center;
}
.sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
.sidebar .side-dropdown.show {
	max-height: 1000px;
}
.sidebar .side-dropdown a:hover {
	color: var(--blue);
}
.sidebar .help{
	width: 90%;
  height:100px;
	padding: 15px;
}
.sidebar.hide .help {
	display: none;
}
.sidebar.hide:hover .help {
	display: block;
}
.sidebar .help .wrapper {
	background: var(--grey);
	padding: 15px;
	border-radius: 10px;
}
.dark .sidebar .help .wrapper {
	background: rgb(25, 25, 25);
}
.sidebar .btn-upgrade {
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 10px;
	font-weight: 500;
	margin-bottom: 10px;
}
.sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}
.sidebar .help .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}

.wrapper p{
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
.wrapper img{
	width:30px;
	height:30px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
.dark.content{
	color: var(--light);
}
.sidebar.hide + .content {
	width: calc(100% - 60px);
	left: 60px;
}
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
.dark nav{
	background: #000;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
.dark nav .form-group input {
	background: #212121;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
.dark nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--grey), 0 0 0 4px var(--dark-grey);
}

nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 23px;
	color: #1775F1;
}

nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
.dark nav .profile .profile-link {
	background: rgb(25, 25, 25);
	color: #FFF;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
.dark nav .profile .profile-link a {
	color: white;
}

nav .profile .profile-link a:hover {
	background: var(--grey);
}
nav .profile .profile-link a:hover {
	color: #000;
}

main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}



main .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}
main .data .content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
.dark main .data .content-data{
	background: var(--dark);
}
main .content-data .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
main .content-data  h3 {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
}
main .content-data .head .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .content-data .head .menu .icon {
	cursor: pointer;
}
main .content-data .head .menu-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	width: 140px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	padding: 10px 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
main .content-data .head .menu-link.show {
	top: 100%;
	opacity: 1;
	pointer-events: visible;
}

.gallery{
    display: flex;
	width:1000px;
	height: 500px;
    gap: 1rem;
}

.gallery > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45,1.4);
}

.gallery > div:hover{
    flex: 3;
    
}






@media screen and (max-width: 768px) {
	.content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}

.dataTables_wrapper{
width: 100%;
}
.dark .dataTables_length select{
color: white;
}
.dark .dataTables_filter input{
    color: white;
}
.dark .form-group input{
color: white;
}
  th {
    background-color: white;
  }

  th, td {
    padding: 0.5rem;
  }
  td:hover {
    background-color: lightblue;
  }

  .paginate_button {
    border-radius: 0 !important;
  }
    .dark .dataTables_paginate .current {
          background: grey !important;
          color: black !important;
    }
  .dark th {
    background-color: rgba(25, 25, 25);
  }

.dark .display .dataTable{
	color: var(--light)
}
.dark input{
    background: var(--dark);
  }
  .dark .form-control{
	background:rgb(25, 25, 25);
	color: #FFF;
  }
  .dark td:hover {
    background-color: rgb(201, 201, 201);
	color: black;
  }
  .theme-light {
	--color-primary: #0060df;
	--color-secondary: #fbfbfe;
	--color-accent: #fd6f53;
	--font-color: #000000;
  }
  .theme-dark {
	--color-primary: #17ed90;
	--color-secondary: #2a2c2d;
	--color-accent: #12cdea;
	--font-color: #ffffff;
  }
  
  
  /* The switch - the box around the slider */
  .switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 30px;
	left:950px;
    bottom:40px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	left: 0px;
	bottom: 4px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: white url('https://i.ibb.co/FxzBYR9/night.png');
	background-repeat: no-repeat;
	background-position: center;
  }
  
  
  input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
	background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
	background-repeat: no-repeat;
	background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  body {
	margin: 0;
  
  }
  .page-content {
	width: 100%;
	margin: 0 auto;
	display: flex;
  
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
  
	-webkit-align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  
	-webkit-background-size: cover;
  }
  .wizard-v1-content {
	background: #fff;
	width: 851px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 162px 0;
	font-family: "Raleway", sans-serif;
	position: relative;
	display: flex;
  }
  .wizard-v1-content .wizard-form {
	width: 100%;
	padding: 15px 25px;
  }
  .wizard-form .wizard-header h3 {
	color: #333;
	font-size: 36px;
	font-weight: 800;
	margin: 0;
  }
  .wizard-form .wizard-header p {
	color: #666;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 26px;
  }
  .form-register .steps {
	margin-bottom: 33px;
  }
  .form-register .steps ul {
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	list-style: none;
	padding-left: 0;
  }
  .form-register .steps li,
  .form-register .steps li.current {
	outline: none;
	-webkit-outline: none;
	position: relative;
	padding-bottom: 3px;
	padding-right: 63px;
  }
  .form-register .steps li:last-child {
	padding-right: 0;
  }
  .form-register .steps li .current-info {
	display: none;
  }
  .form-register .steps li::before {
	position: absolute;
	content: "";
	background: #e5e5e5;
	width: 168px;
	height: 6px;
	top: 20%;
	left: 47%;
  }
  .form-register .steps li:last-child::before {
	content: none;
  }
  .form-register .steps li.current::after {
	position: absolute;
	content: "";
	width: 45px;
	height: 3px;
	background: #ccc;
	top: 100%;
	left: 25%;
  }
  .form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
  }
  .form-register .steps li a .title {
	text-align: center;
  }
  .form-register .steps li a .title span {
	display: block;
	font-size: 16px;
  }
  .form-register .steps li a .title .step-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #ccc;
	margin: 0 auto;
	position: relative;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	color: #fff;
	font-size: 20px;
  }
  .form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  
	-webkit-transform: translate(-50%, -50%);
  }
  .form-register .steps li.current a .step-icon,
  .form-register .steps li.current a:active .step-icon,
  .form-register .steps .done::before,
  .form-register .steps li.done a .step-icon,
  .form-register .steps li.done a:active .step-icon {
	background: #6eba2a;
  }
  .form-register .steps li.current a .step-icon,
  .form-register .steps li.current a:active .step-icon {
	box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
  
	-webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
  }
  .form-register .steps li a .step-number {
	color: #666;
	font-weight: 400;
	padding: 17px 0 8px;
  }
  .form-register .steps li a .step-text {
	color: #333;
	font-weight: 600;
	padding-bottom: 8px;
  }
  .form-register .content {
	background: #f7f7f7;
	border-radius: 5px;
  
	-webkit-border-radius: 5px;
	padding: 32px 115px 23px 75px;
  }
  .form-register .content h2 {
	display: none;
  }
  .inner .form-row {
	display: flex;
	margin: 0 -13px;
	position: relative;
  }
  .inner .form-row.form-row-2 {
	width: 80.6%;
  }
  .inner .form-row .form-holder {
	width: 50%;
	padding: 0 13px;
	margin-bottom: 22px;
	position: relative;
  }
  .inner .form-row .form-holder.form-holder-2 {
	width: 100%;
	position: relative;
  }
  .inner .form-row .form-holder.form-holder-3 {
	width: 100%;
  }
  .inner .form-row .form-holder label {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	padding-bottom: 11px;
	display: block;
  }
  .inner .form-row .form-holder input,
  .inner .form-row .form-holder select {
	width: 100%;
	padding: 13px 25px;
	border: none;
	background: #e3e1e1;
	border-radius: 5px;
  
	-webkit-border-radius: 5px;
	appearance: unset;
  
	outline: none;
  
	-webkit-outline: none;
  
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #121212;
	box-sizing: border-box;
  
	-webkit-box-sizing: border-box;
  }
  .inner .form-row .form-holder input::placeholder {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
  }
  .inner .form-row .form-holder input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
  }
  .inner .form-row .form-holder input::-ms-input-placeholder {
	
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
  }
  .inner .form-row .form-holder select {
	background: #e3e1e1 url("../images/wizard_v2_icon.png") no-repeat scroll;
	background-position: right 16px center;
	z-index: 1;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
	position: relative;
  }
  .inner .form-row .form-holder select option {
	background: #fff;
	color: #000;
  }
  .inner .form-row .form-holder.form-holder-2 .select-btn {
	top: 27%;
	right: 6.5%;
  }
  .inner .form-row .form-holder .ui-datepicker-trigger {
	background: transparent;
	border: none;
	color: #666;
	font-size: 19px;
	position: absolute;
	cursor: pointer;
	right: 10.5%;
	top: 27.5%;
	outline: none;
  
	-webkit-outline: none;
  }
  .inner h3 {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 11px;
  }
  .inner .form-row.table-responsive {
	border: none;
	border-radius: 5px;
  
	-webkit-border-radius: 5px;
	padding: 24px 26px 31px;
	margin: 0;
	margin-bottom: 22px;
	background: #e3e1e1;
  }
  .inner .table-responsive .table {
	width: 100%;
  }
  .inner .table-responsive tbody {
	text-align: left;
  }
  .inner .table-responsive tr.space-row > td,
  .inner .table-responsive tr.space-row > th {
	padding-bottom: 18px;
  }
  .inner .table-responsive tbody th {
	color: #000;
	font-size: 16px;
	font-weight: 400;
  }
  .inner .table-responsive tbody td {
	color: #000;
	font-size: 16px;
	font-weight: 400;
  }
  .actions ul {
	list-style: none;
	padding-left: 0;
	margin: 15px 0 0;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
  
	-webkit-justify-content: space-between;
  }
  .actions ul li.disabled {
	opacity: 0;
  }
  .actions ul li {
	padding: 0;
	border: none;
	border-radius: 50%;
  
	-webkit-border-radius: 50%;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
  
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
	display: inline-flex;
	height: 50px;
	width: 50px;
	justify-content: center;
  
	-webkit-justify-content: center;
	align-items: center;
  
	-webkit-align-items: center;
	background: blue;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
  }
  .actions ul li:hover {
	background: darkblue;
  }
  .actions ul li:first-child {
	background: transparent;
	border-radius: 0;
  
	-webkit-border-radius: 0;
	box-shadow: none;
  
	-webkit-box-shadow: none;
  }
  .actions ul li a {
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
  }
  .actions ul li:first-child a {
	color: #666;
  }
  .actions ul li a i {
	font-size: 18px;
  }
  
  /* Responsive */
  @media screen and (max-width: 1199px) {
	.wizard-v1-content {
	  margin: 180px 20px;
	}
	.form-register .content {
	  padding: 32px 75px 23px 75px;
	}
  }
  @media screen and (max-width: 991px) {
	.inner .form-row {
	  flex-direction: column;
  
	  -webkit-flex-direction: column;
	  margin: 0;
	}
	.inner .form-row.form-row-2 {
	  width: 100%;
	}
	.inner .form-row .form-holder {
	  padding: 0;
	  width: 100%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
	  right: 5%;
	}
	.inner .form-row .form-holder .select-btn {
	  right: 6%;
	}
  }
  @media screen and (max-width: 575px) {
	.wizard-v1-content .wizard-form {
	  padding: 40px 20px;
	  width: auto;
	}
	.form-register .content {
	  padding: 32px 30px 23px 30px;
	}
	.form-register .steps li,
	.form-register .steps li.current {
	  padding-right: 5px;
	}
	.form-register .steps li::before {
	  width: 65px;
	  top: 15%;
	  left: 70%;
	}
	.form-register .steps li.current::after {
	  left: 28%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
	  right: 0;
	}
	.inner .form-row .form-holder .select-btn {
	  right: 6.5%;
	}
	.inner .table-responsive tr.space-row,
	.inner .table-responsive tbody th {
	  display: block;
	}
	.inner .table-responsive tr.space-row > th {
	  padding-bottom: 10px;
	}
	.inner .table-responsive tr.space-row > td {
	  padding-bottom: 30px;
	}
  }
  
  
  .circle{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #32AAEE;
    display: block;
    box-shadow: 0px 10px 5px #32AAEE;
    cursor: pointer;
	
}
#text{
	font-family: "Calligraffitti", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #32AAEE;    
}

  
  