body{
    font-family: Sans-Serif;
  }

  .card{
    width:100vw;
    height:100vh;
    background: linear-gradient(to bottom right,#2A99BD,#4D77A5, #70578f 80%);
  }
  .img img{
    width:250px;
    height:280px;
    border-radius: 10px;
   display: flex;
   position: absolute;
   top:180px;
   left:330px;
  
  }
  .wrapper{
    position: absolute;
    top: 50%;
    left:57%;
    transform: translate(-50%, -50%);
    text-align: center;
   width:350px;
   height:400px;
    padding: 25px;
    border-radius: 0.8rem;
    background-color:white;
  }
  
  .wrapper h1{
    font-size: 23px;
    font-weight: bolder;
  }
  .wrapper h3{
    font-size: 15px;
    font-weight:bold;
  }
  .wrapper .field {
    height: 120px;
  }
  .wrapper input[ type = text ]{
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding-left: 35px;
  }
  .wrapper button {
    width: 240px;
    height: 35px;
    border: none;
    margin-top: 30px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(to bottom right,#2A99BD,#4D77A5, #70578f 80%);
  }
  
  input{
  width: 300px;
  height: 20px;
  padding: 8px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
  outline: none;
}
  .infield p{
    margin:20px;
    font-size: 15px;
    text-align: left;
  }